/* RSPNSV: Small desktops/Tablets landscape */

/* --> Global */
body {
    font-size: 1.4em;
}

section {
    padding: 65px 25px;
}

/* --> Header */

#logo {
    font-size: 65px;
}

#logo a {
    text-decoration: none;
}

.menu-icon {display: none;}

nav {
    background: transparent;
    top: 0;
    right: 10px!important;
    left: auto;
    width: 800px;
    height: auto;
    font-size: 1.2em;
    overflow: visible;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li.nav-special {
    margin-top: 0;
}

nav ul li.with-label {
    position: relative;
}

nav ul li.with-label::after {
    content: "";
    display: block;
    font-size: 60%;
    opacity: 0.5;
    position: absolute;
    top: 110%;
    right: 10px;
}

.comingsoon {
    display: none;
}

#header-intro {
 top: 35%;
  width: 100%;
}

/* --> Homepage content */

.some-bar {
    width: 40%;
    float: right;
}

#home-info-content {
    width: 55%;
    float: left;
}

#home-info-content p {
    margin: 0 0 50px 0;
}


#home-projects-header {
    margin-left: -25px;
    padding: 40px 40px 53px 40px;
}

#home-projects-wrapper, #mwd-video-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
}

.project-box, .mwd-video {
    flex: 0 1 calc(50% - 50px);
    box-sizing: border-box;
}

#home-getstarted {
    text-align: center;
}

#home-getstarted .section-wrapper {
    width: 60%;
}

/* --> Info content */
#info-about .some-bar {
    float: none;
    text-align: left;
}

#info-more .some-bar {
    float: none;
}

.info-content-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;

}

.info-flex {
    flex: 0 1 calc(50% - 50px);
    box-sizing: border-box;
}

/* --> Terms and Privacy */

.terms header {
    height: 200px;
    overflow: hidden;
}

.terms #noiseCanvas {
    height: 600px;
}


#terms {
    max-width: 60%;
    margin: 0 auto;
}

.terms #header-intro {
    top: 300px;
}

.terms #header-intro h1 {
    font-size: 2.6em;
}

/* --> Footer */

.footer-wrapper {
    margin-top: 30px;
}

.footer-box {
  width: 20%;
  float: left;
  margin: 0px 30px 0 0;
}

footer .some-bar {
    width: 25%;
    float: right;
    margin: 0;
    text-align: right;
}

.credits {
    margin-top: 100px;
}

/* RSPNSV: Desktops */

@media all and (min-width: 1280px) {

 /* --> Global */
 section {
    padding: 75px 35px;
 }

 nav {
    width: 800px;
 }

 #logo {
    font-size: 85px;
 }

 /* --> Homepage content */

#home-info .section-wrapper {
    width: 70%;
    margin: 0 0 0 30px;
}

#home-info .some-bar {
    width: auto;
}

#home-info-content {
    width: 65%;
    margin-right: 50px;
}

#home-projects-header {
    width: 65%;
    margin-left: -35px;
}

/* --> Info page content */
    .info-flex {
        flex: 0 1 calc(50% - 80px);
    }
   
}

footer {
    padding: 50px 80px;
}

@media all and (min-width: 1536px) {

/* --> Global */
section {
    padding: 90px 50px;
}

#logo {
    font-size: 105px;
}

nav {
   width: 800px;
   font-size: 1.4em; 
}

 #header-intro h1 {
   font-size: 3.5em;  
 }

 #header-intro p {
    font-size: 1.5em;
 }

 #home-projects-header {
    margin-left: -50px;
 }

 .project-box {
    flex: 0 1 calc(25% - 50px);
 }

 #home-madewithdeforum h2 {
    width: 25%;
    float: right;
 }

 #mwd-video-wrapper, #mwd-intro {
    margin-top: 0;
    width: 70%;
    float: left;
 }

#mwd-intro {
    margin-bottom: 30px;
}

 #home-madewithdeforum .btn-atn {
    float: left;
 }

/* --> Info page content */
   .info header, .info #noiseCanvas {
    height: 160px;
   }
   
}

@media all and (min-width: 1920px) {

 /* --> Global */

  section {
    padding: 110px 65px;
  }

  footer {
    padding: 65px;
  }

/* --> Home page content */

#home-info .section-wrapper {
    width: 55%;
}

 #home-projects-header {
    width: 50%;
    margin-left: -65px;
 }

 #home-projects-header h2, #home-madebydeforum h2 {
    font-size: 3em;
 }

/* --> Info page content */
 .info-flex {
    flex: 0 1 calc(50% - 110px);
 }

}

@media all and (min-width: 2560px) {

 /* --> Global */

 #logo {
    font-size:145px;
 }

 section {
    padding: 120px 85px;
 }

 footer {
    padding: 85px;
 }

 .info header, .info #noiseCanvas {height: 300px}

 /* --> Home page content */

#home-info-content {
    width: 70%;
}

#home-projects-header {
    width: 45%;
    margin-left: -85px;
}

 /* --> Info page content */

}